.center.jumbotron
  %h1 Welcome to Alana
  %h2
    Alana Network Management
  = link_to "Sign up now!", '#', class: "btn btn-lg btn-primary"
= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/'
