.row{:style => "height:900px; padding-top:50px"}
  .col-md-2{:style => "background-color: #F5F5F5; height:100%; text-align:center; padding-top:20px;"}
    %strong Menu
  .col-md-8{:style => "padding:20px;"}
    %strong Main
  .col-md-2{:style => "background-color: #F5F5F5; height:100%; text-align:center; padding-top:20px;"}
    %strong Properties
