@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {overflow-y: scroll;}
body {padding-top: 0px;}
section {overflow: auto;}
textarea {resize: vertical;}
.center {text-align: center;}
.center h1 {margin-bottom: 10px;}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px; margin-top: 45px; margin-left:35%;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
.footer {
 position:fixed; left:0px; bottom:0px;
 height:50px;width:100%;
 background:#AFAFAF;
 padding:15px 25px;

}

table.softnet {
  border:collapse; margin-top: 15px; margin-left: 20px; width:97%;
  td.right, th.right{text-align:right;}
  td.centre, th.centre{text-align:center;}
  td.date, th.date {text-align:center; width:80px;}
  td, th {border: 1px solid #f6772f;}
  thead {
    th {padding:10px 5px; font-weight:normal; vertical-align:top;
      a {color:white;}
    }
    tr {font-size:0.9em;
      color:white; background-color:#3574C4;}

      th.action {padding:5px; vertical-align:middle; text-align:center; }
    }
    tbody {
      tr {font-size:0.85em !important;}
      td.group{background-color: #999; color:#FFF; font-weight:bold; font-size:1.2em; padding: 5px 0; text-align:center;}
      td {height:35px; padding:5px; vertical-align: top;
        &.number {text-align:right; padding-right:15px;}
      }
      tr.search_row {input {font-size:0.9em !important;}
      .search_row {display:none;}}
    }
  }
