// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_page {
 margin-top:150px;
 h1 {color:white; text-align:left; font-size:9em; font-weight:bold; margin-bottom:0; margin-top:100px;}
 h2 {color:#DEDEDE; text-align:left; margin-top:0; letter-spacing: 3px;}
 .logon_space{
  text-align:right; border-right: solid 12px white;
  h2 { text-align:right; margin-top:100px;}
  label {color:white;}
  }
}
